# ========================================================
# TEMPLATE DELL'AMBIENTE (Da copiare in un file ".env")
# ========================================================

# Inserisci qui l'indirizzo IP del tuo computer sulla rete Wi-Fi attuale.
# (Serve per far comunicare Docker e l'App Mobile)
HOST_IP=192.168.1.xxx

# Porta dell'API backend
API_PORT=8000

# ========================================================
# VARIABILI EXPO (Devono iniziare con EXPO_PUBLIC_)
# ========================================================
EXPO_PUBLIC_BACKEND_HOST=192.168.1.xxx
